{% extends "core/base.html" %}

{% block content %}
<h1>Customer List</h1>

<a href="{% url 'customer_create' %}">+ Add Customer</a>

<table border="1" cellpadding="8">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>

    {% for customer in customers %}
    <tr>
        <td>{{ customer.id }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.email }}</td>
        <td>
            <a href="{% url 'customer_update' customer.pk %}">Edit</a> |
            <a href="{% url 'customer_delete' customer.pk %}">Delete</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No customers found</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
